<div class="column is-3 mt-6">
  
  <aside class="menu">
    <ul class="menu-list">
      <li>
        <a class="is-active">All Channels</a>
        <ul>
          <% @channels.each do |c| %>
            <li><%= link_to c.channel, c %></li>
          <% end %>
        </ul>
      </li>
    </ul>

    <% if has_role?(:admin) %>
      <p class="menu-label"> Dashboard </p>
      <ul class="menu-list">
        <li><a href="<%= new_channel_path %>">New Channel</a></li>
      </ul>
    <% end %>
  </aside>
</div>