<!DOCTYPE html>
<html>
<head>
	<title>Using CSS Grid</title>
	
</head>
<body>

    <div style="height: 70px">
        <b style="font-size:20px"></b>
    </div>
	<div id="content">

		<div class="one">“We all need people who will give us feedback. That’s how we improve.”</div>
		<div class="two">“An insipid voice message or an incongruent emergence from the “other” world may disrupt our whole thinking system. If we are not able to deal with the fragmentation of our self and assess the deconstruction of our identity, a corny incident could easily capsize our being. A misinterpretation of facts and expectations may perturb our awareness and unsettle our perception. When “I” and “me” don’t get along very well, the road to oneness may be very often bumpy. (“Alors, tout a basculé”)”</div>
		<div class="three">"Programming isn't about what you know; it's about what you can figure out.”</div>
		<div class="four">Knowledge is like money: to be of value it must circulate, and in circulating it can increase in quantity and, hopefully, in value. </div>
		<div class="five">"Alone we can do so little; together we can do so much." – "Talent wins games, but teamwork and intelligence win championships." – "Teamwork begins by building trust. "It is literally true that you can succeed best and quickest by helping others to succeed."</div>

	</div>

</body>
</html>